body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.formcontainer {
  padding: 2rem;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(100, 21, 255);
  color: rgb(247, 250, 252);
  border-radius: 0.5rem;
  margin: 3em;
}
.formcontainer_label {
  position: relative;
  bottom: 0.5em;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 0.875rem;
}
input {
  width: 100%;
  background-color: transparent;
  color: rgb(247, 250, 252);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-bottom-width: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 2px solid #e2e8f0;
}
input ::after ::before {
  border: 0 solid #e2e8f0;
}
.formcontainer_submit {
  margin-top: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(247, 250, 252);
  color: rgb(100, 21, 255);
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 8rem;
  border-radius: 9999px;
}
.list-container {
  display: flex;
  flex-direction: column-reverse;
}
.list-heading {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-align: center;
  width: 100%;
}
.list-emphasis {
  color: rgb(100, 21, 255);
}
.list-subheading {
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(42, 43, 44);
  padding: 0 1.5rem;
}
a:link {
  text-decoration: none;
}
.list-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: rgb(237, 242, 247);
  color: rgb(113, 128, 150);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: rgb(237, 242, 247);
  color: rgb(113, 128, 150);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background-color: rgb(100, 21, 255);
  color: #fff;
}
.update-input {
  width: 30%;
}
